.footer {
    background-color: #ffab00;
    text-align: center;
    padding-top: 25px;
    position: relative;
    padding: 4px;
    padding-top: 10px;
    margin: 0;
    line-height: 8px;
}

.pfoot {
    font-size: 15px;
    font-family: 'Segoe UI';
    color: black;
}

.fzp {
    width: 145px;
    height: auto;
}

.fzpcirculo {
    width: 45px;
    height: auto;
}
.nati {
    font-size: 15px;
    font-family: 'Segoe UI';
    color: black;
    text-align: end;
    margin-bottom: 0;
}

.cande {
    width: 130px;
}

@media (max-width: 768px) {
    .footer {
        padding-top: 15px;
        font-size: 15px;
    }

    .fzp {
        width: 135px;
        height: auto;
    }
    
    .fzpcirculo {
        width: 25px;
        height: auto;
    }

    .pfoot {
        font-size: 12px;
        line-height: 15px;
        padding: 0px;
        margin: 3px;
    }

    .nati {
        font-size: 12px;}

        .cande {
            width: 90px;
        }
}