.mendoza {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.h6 {
    color: black;
    font-size: 20px;
    font-family: sans-serif;
}

.mza {
    font-size: 15px;
}

.contacdetalle {
    font-size: 18px;
    text-align: right;
    font-style: italic;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 230px;
    width: 210px;
    border-radius: 50%;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    background-color: white;
}

.form-class {
    margin-bottom: 15px; 
    font-family: sans-serif;
    width: 100%;
    padding: 10px;
    size: 500px;
    box-sizing: border-box; 
    border: none; 
    color: #525c66; 
    font-size: 1em;
    resize: none; 
}

.col.formulario11 {
    display: flex;
    flex-direction: row;
}

.mendoza {
    transition: 0.5s;
    object-fit: cover;
    height: auto;
    width: 99px;
}

.mendoza:hover {
    transform: scale(1.2);
}

.enviar {
    margin-left: 2%;
}

.enviado {
    background-color: #198754;
    color: #fff;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium';
    margin: 10px;
    padding: 30px;
}

.enviando {
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium';
    margin: 10px;
    padding: 30px;
}

.requerido {
    font-weight: bold;
    color: #dc3545;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium';
    margin: 2px;
}

.align-content-center {
    margin-left: 0;
}

@media only screen and (max-width: 1408px){
    figure {
        height: 210px;
        width: 190px;
        margin-left: 2vw;
    }

    .mendoza {
        height: auto;
        width: 105px;
    }

    .mza {
        font-size: 15px;
    }

    .col.formulario11 {
        padding-left: 0;
    }

}

@media only screen and (max-width: 868px) {
    figure {
        height: 190px;
        width: 170px;
        margin-left: 2vw;
    }

    .contacdetalle {
        font-size: 17px;
        text-align: center;
    }

    .mendoza {
        height: auto;
        width: 90px;
    }

    .mza {
        font-size: 15px;

    }

    .h6 {
        font-size: 15px;
    }

    .contacdetalle {
        font-size: 15px;
    }

    .col.formulario11 {
        display: flex;
        flex-direction: column
        
    }
}





