.galeria {
    margin: 20px;
    width: 45%;

}

.espiritu.gale {
        margin: 4vw;
        background-color: #fff3e0;
        width: 90vw;
        padding: 30px;
        font-family: sans-serif;
        display: flex;
        justify-content: center;
    
}

.w-100 {
    max-height: 450px;
 
}


.epigrafe {
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    color: #212121;
    font-weight: lighter;
    font-size: 18px;
    margin: 10px;
    padding: 10px;
}

.carousel-indicators {
    display: none;
}

@media (max-width: 768px) {
    .epigrafe {
        font-size: 13px;
    }

    .galeria {
        margin: 20px;
        width: 90%;
    }
}
